<!--Add/Edit Form Page -->
<form style="margin-top: 40px;" #chequeForm="ngForm" (ngSubmit)="chequeForm.form.valid && saveUser()" autocomplete="off" novalidate>

    <div class="form-group row">

        <div class="col-lg-3 kt-margin-t-25">
            <label for="payee"> Full Name <i class="text-danger">*</i> </label>
            <input type="text" name="payee " id="payee" class="form-control" #payee="ngModel"
                [(ngModel)]="chequeObj.payee"  required="true"
                placeholder="Enter Payee" />
        </div>

        <div class="col-lg-3 kt-margin-t-25">
            <label for="currency">Select Currency <i class="text-danger">*</i></label>
            <p-dropdown [options]="currencyArray" [(ngModel)]="chequeObj.currency" #currency="ngModel"
                [style]="{'width':'100%','height':'37px','border-color':'#e2e5ec'}" placeholder="Select Currency"
                [ngModelOptions]="{standalone: true}" required="true"></p-dropdown>
        </div>

        <div class="col-lg-3 kt-margin-t-25">
            <label for="Amount"> Amount  </label>
            <input type="number" name="amount " id="amount" class="form-control" #amount="ngModel"
                [(ngModel)]="chequeObj.amount" 
                placeholder="Enter Amount" required="true" />
                <!-- <span class="text-danger" *ngIf="amount.hasError('pattern')">Email format should be example@abc.com</span> -->
        </div>
        <div class="col-lg-3 kt-margin-t-25">
            <label for="chequeDate">Date </label>
            <p-calendar [(ngModel)]="chequeDateObject" dateFormat="dd/mm/yy" [style]="{'width':'100%','height':'37px'}"
             [ngModelOptions]="{standalone: true}" [utc]="true"></p-calendar>
                <!-- <span class="text-danger" *ngIf="chequeDate.hasError('pattern')">Please enter a valid Phone Number</span> -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="submit" [disabled]="chequeForm.invalid" style="margin-right: 10px;"
                class="btn btn-primary btn-pill"><i class="fa fa-save"></i>Save</button>

            <button type="button" class="btn btn-pill btn-info" (click)="cancel()">Cancel</button>
        </div>
    </div>

</form>