<!--Add/Edit Form Page -->
<form style="margin-top: 40px;" #chequeForm="ngForm" (ngSubmit)="chequeForm.form.valid && generateCheque()" autocomplete="off" novalidate>

    <div class="form-group row">

        <div class="col-lg-3 kt-margin-t-25">
            <label for="payee"> Full Name <i class="text-danger">*</i> </label>
            <input type="text" name="payee " id="payee" class="form-control" #payee="ngModel"
                [(ngModel)]="chequeObj.payee"  required="true"
                placeholder="Enter Payee" />
        </div>

        <div class="col-lg-3 kt-margin-t-25">
            <label for="currency">Select Currency <i class="text-danger">*</i></label>
            <p-dropdown [options]="currencyArray" [(ngModel)]="chequeObj.currency" #currency="ngModel"
                [style]="{'width':'100%','height':'37px','border-color':'#e2e5ec'}" placeholder="Select Currency"
                [ngModelOptions]="{standalone: true}" required="true"></p-dropdown>
        </div>

        <div class="col-lg-3 kt-margin-t-25">
            <label for="Amount"> Amount  </label>
            <input type="number" id="amtRem" name="amount" class="form-control" #amount="ngModel"
                [(ngModel)]="chequeObj.amount" 
                placeholder="Enter Amount" required="true" />
                <!-- <span class="text-danger" *ngIf="amount.hasError('pattern')">Email format should be example@abc.com</span> -->
        </div>
        <div class="col-lg-3 kt-margin-t-25">
            <label for="chequeDate">Date </label>
            <p-calendar [(ngModel)]="chequeDateObject" dateFormat="dd/mm/yy" [style]="{'width':'100%','height':'37px'}"
             [ngModelOptions]="{standalone: true}" [utc]="true"></p-calendar>
                <!-- <span class="text-danger" *ngIf="chequeDate.hasError('pattern')">Please enter a valid Phone Number</span> -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <button type="submit" [disabled]="chequeForm.invalid" style="margin-right: 10px;"
                class="btn btn-primary btn-pill"><i class="fa fa-save"></i>Generate</button>

            <button type="button" class="btn btn-pill btn-info" (click)="cancel()">Cancel</button>
        </div>
    </div>

</form>

<!--Cheque UI  -->
<hr *ngIf="isChequeVisible">
<div *ngIf="isChequeVisible">
<div class="container main p-4">
    <div class="row">
      <div class="col-12 text-right">
        <div class="justify-content-center w-75">
          <div class="float-right float-xl-right font-weight-bold">243</div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6">
        <div class="w-50">
          <div class="font-weigh-bold h6 mb-0">MR. JOHN JONES</div>
          <p class="">1645 DONTAS ST. W. 146 TORONTO, OS SIOSOS</p>
        </div>
      </div>
      <div class="col-6">
        <div class="w-75 float-right">
          <div class="d-flex">
            <div class="d-flex w-50">
              <div class="font-weigh-bold w-25 mt-2">Date</div>
              <div>
                <div class="font-weight-bold font24">2</div>
                <div class="font-weight-bold font10 font800  pl-3">Y</div>
              </div>
              <div>
                <div class="font-weight-bold font24">0</div>
                <p class="font-weight-bold font10 font800">Y</p>
              </div>
              <div>
                <div class="font-weight-bold font24">0</div>
                <p class="font-weight-bold font10 font800">Y</p>
              </div>
              <div>
                <div class="font-weight-bold font24">6</div>
                <p class="font-weight-bold font10 font800">Y</p>
              </div>
              <div>
                <div class="font-weight-bold font24">1</div>
                <p class="font-weight-bold font10 font800">M</p>
              </div>
              <div>
                <div class="font-weight-bold font24">2</div>
                <p class="font-weight-bold font10 font800">M</p>
              </div>
              <div>
                <div class="font-weight-bold font24">0</div>
                <p class="font-weight-bold font10 font800">D</p>
              </div>
              <div>
                <div class="font-weight-bold font24">1</div>
                <p class="font-weight-bold font10 font800">D</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1 pr-0">
        <div class="font10">PAY TO THE OWNER OF</div>
      </div>
      <div class="col-9">
        <div [hidden]="true" class="text-truncate">____________________________________________________________________________________________________________________________</div>
        <div [hidden]="false" class="underlinecss">&nbsp;&nbsp;&nbsp;&nbsp;<strong>Harendra Nishad</strong></div>
      </div>
      <div class="col-2">
        <div class="d-flex">
          <div>$</div>
          <div class="doller-input"><strong>100.55</strong></div>
        </div>
      </div>
    </div>
    <div class="row">
  
      <div class="col-10">
        <div *ngIf="false" class="d-flex text-truncate">____________________________________________________________________________________________________________________________900 DOLLERS</div>
        <div [hidden]="false" class="underlinecss">&nbsp;&nbsp;&nbsp;&nbsp;<strong>One Hundred Dollars ne Hundred Dollars  Dollars</strong></div>
      </div>
      <div class="col-2">
        <div class="d-flex pl-2 ml-2">
          <div>🔒</div>
          <div class="font8">in informtion fo the main file </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
  
      <div class="col-6">
        <div class="d-flex">
          <div class="doller-design">
            <div>$</div>
          </div>
          <div class="px-2 w-25">
            <div class="font10">FIRST BANK OF WIKI</div>
            <div class="font8">Victory main branck 1423JOSJ SODJO, asddfjo JSOIDJO doiafoj </div>
          </div>
        </div>
      </div>
      <div class="col-6">
  
      </div>
    </div>
  
    <div class="row mt-2">
      <div class="col-6">
        <div *ngIf="false" class="font10 text-truncate">Reg No______________________________________________________________________________________</div>
        <div *ngIf="true" class="font10 text-truncate">Reg No </div> <div class="underlinecssWidth" style="margin-left: 37px;margin-top:-26px">&nbsp;&nbsp;&nbsp;&nbsp;<strong> Donations to Chruch </strong></div>
      </div>
      <div class="col-6">
        <!--<div class="d-flex">
            <div class="font10 text-truncate">_________________________________________________________________________________________MP</div>
            <div class="font10">MP</div>
        </div>-->
        <div class="d-flex">
          <div class="sig3 underlinecssSign " style="margin-left: 37px;margin-top:-10px">&nbsp;&nbsp;&nbsp;&nbsp; J.Jones</div>  <div class="font10"><strong>MP</strong></div>
  
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="d-flex">
          <div class="font24 px-2">"243"</div>
          <div class="font24 px-2">"1:000005""123"</div>
          <div class="font24 px-2">"1:000005""123"</div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12 text-center">
        <a class="btn btn-pill btn-warning" (click)="save()"> Save </a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</div>
